.swiper {
  width: 100%;
  height: 100%;
  // background-color: #fef3e4;
}
.swiper-wrapper {
  display: flex;

  justify-content: center;
}

.swiper-slide {
  &__1,
  &__3 {
    align-self: start;
    @media screen and (max-width: 769px) {
      display: none;
    }
  }
  & + & {
    @media screen and (min-width: 770px) {
      margin-left: 32px;
    }
  }
}
.swiper-slide__2 {
  width: 280px;
  height: 100%;
  @media screen and (min-width: 770px) {
    margin-top: 60px;
  }
}
.feature__title {
  margin-bottom: 13px;
  font-family: "Caveat Brush";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-align: center;

  color: #2e2520;
}

.review-card__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.reviews-card__stars {
  margin: 8px auto;
  width: 136px;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ab816c;
  fill: currentColor;
  &--icon {
    display: block;
  }
}
.reviews-card__stars--icon + .reviews-card__stars--icon {
  margin-left: 4px;
}
.reviews-card__stars--icon-empty {
  fill: #fef3e4;
}
.reviews-card__name {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  text-align: center;

  color: #2e2520;
  margin-bottom: 8px;
}
.reviews-card__text {
  width: 280px;
  height: 220px;
  margin: 0 auto;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: #2e2520;
}
.reviews-card__pagination {
  margin: 32px auto;
}
