$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-background-color: #ffffff;
$secondary-background-color: #f5f4fa;
$icons-color: #afb1b8;
$background-color-hero-footer: #2f303a;
$black-color: black;
